<div class="header">
  <h1>Hello, angular-init</h1>

  <div class="nav">
    <button
      mat-raised-button
      [routerLink]="['']"
      class="navigationButton"
      color="primary"
    >
      Main
    </button>

    <button
      mat-raised-button
      [routerLink]="['page1']"
      class="navigationButton"
      color="primary"
    >
      Page 1
    </button>

    <button
      mat-raised-button
      [routerLink]="['page2']"
      class="navigationButton"
      color="primary"
    >
      Page 2
    </button>

    <button
      mat-raised-button
      [routerLink]="['page3']"
      class="navigationButton"
      color="primary"
    >
      Page 3
    </button>
  </div>

  <div *ngIf="!oauthService.hasValidAccessToken()" class="login">
    <button
      mat-raised-button
      class="loginButton"
      color="primary"
      style="border: 3px solid black"
      (click)="this.login()"
    >
      Login
    </button>
  </div>
</div>

<router-outlet></router-outlet>
